<app-header></app-header>
<app-navbar></app-navbar>

<div class="main">
  <div *ngIf="load">
    <span class="sr-only" class="loader"></span>
  </div>
  
  <div *ngIf="unload">
    <div class="people-character-data" *ngFor="let vehciles of vehicle.results">
      <div
        routerLink="/vehicles-details"
        (click)="character(vehicle.results.indexOf(vehciles))"
      >
        <span>{{ vehciles.name | uppercase }}</span>
      </div>
    </div>
  </div>
</div>
<div class="button">
  <button
    class="btn1"
    (click)="previousApi(vehicle?.previous)"
    [ngClass]="disableP"
  >
    PREVIOUS
  </button>
  <button class="btn2" (click)="nextApi(vehicle?.next)" [ngClass]="disableN">
    NEXT
  </button>
</div>
<app-footer></app-footer>
