
<div class="position">
  <div class="line-copy1"></div>
<div class="main-footer">
  <div class="footer-logo"><img src="./assets/footer_logo.png" alt=""></div>
  <div class="nav-footer1-div"><p class="nav-footer1">TERMS OF USE</p></div>
  <div class="nav-footer2-div"><p  class="nav-footer2">LEGAL NOTICES</p></div>
  <div class="nav-footer3-div"><p  class="nav-footer3">PRIVACY POLICY</p></div>
  <div class="nav-footer4-div"><p  class="nav-footer4">STAR WAR HELPDESK</p></div>
  <div class="nav-footer5-div"><p  class="nav-footer5">STAR WAR AT DISNEY STORE</p></div>
</div>



<div class="navbar-maindiv1-tab">
  <p  class="nav-footer1-tab">TERMS OF USE</p> 
  <p  class="nav-footer1-tab">LEGAL NOTICES</p>
  <p  class="nav-footer1-tab">PRIVACY POLICY</p>
</div>
<div class="navbar-maindiv2-tab">
  <p  class="nav-footer1-tab">STAR WAR HELPDESK</p>
  <p  class="nav-footer1-tab">STAR WAR AT DISNEY STORE</p>
</div>

<div></div>
<div> <p class="footer-copyright">TM & Lucas Films Ltd. All Rights Reserved</p></div>


</div>
