
{{highlight()}}
<div class="star-nav">
  <div routerLink="/films-character" routerLinkActive="active" [ngClass]="filmssactive"><p>FILMS</p></div>
  <div routerLink="/spicies-character" routerLinkActive="active" [ngClass]="spiciesactive"> <p>SPECIES</p></div>
  <div routerLink="/plantes-character" routerLinkActive="active" [ngClass]="plantesactive"><p>PLANETS</p></div>
  <div class="people-div" routerLink="/people-character" routerLinkActive="active" [ngClass]="peopleactive"><p>CHARACTER</p></div>
  <div routerLink="/straship-character" routerLinkActive="active" [ngClass]="strashipactive"><p>STARSHIP</p></div>
  <div routerLink="/vehicles-character" routerLinkActive="active" [ngClass]="vehiclesactive"><p>VEHICLES</p></div>
</div>



