.starwar-icon {
  height: auto;
  width: 40%;
  margin: auto;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 30px;
  column-gap: 90px;
  margin-bottom: 78px;
}

.films-icon,
.species,
.planets,
.characters,
.starship,
.vehicles {
  width: 120%;
  /* height: 100px; */
}

.films {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: white;
  font-weight: bolder;
  margin-top: 12px;
  padding-left: 34px;
  /* text-align: center; */
}
.films-icon-div {
  width: 120px;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  .starwar-icon {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-top: 37px;
    margin-bottom: -22px;
  }

  .films-icon,
  .species,
  .planets,
  .characters,
  .starship,
  .vehicles {
    width: 102%;
    /* height: 100px; */
  }
  .films {
    padding-left: 5px;
  }
}
