<app-header></app-header>
<app-navbar></app-navbar>
<div class="main">
  <div *ngIf="load">
    <span class="sr-only" class="loader"></span>
  </div>
  <div *ngIf="unload">
    <div class="people-character-data" *ngFor="let planet of planets.results">
      <div
        routerLink="/plantes-details"
        (click)="character(planets.results.indexOf(planet))"
      >
        <span>{{ planet.name | uppercase }}</span>
      </div>
    </div>
    
  </div>
</div>
<div class="button">
  <button class="btn1" (click)="previousApi(planets?.previous)" [ngClass]="disableP">
    PREVIOUS
  </button>
  <button class="btn2" (click)="nextApi(planets?.next)" [ngClass]="disableN">
    NEXT
  </button>
</div>
<app-footer></app-footer>

