<app-header></app-header>
<app-navbar></app-navbar>

<div class="people-detail-maindiv1">
  <div class="people-detail-maindiv2">
    <div class="img-div">
      <img [src]="src" alt="" id="yoda-size" />

    </div>
    <div class="detail-div" >
      <h1 class="heading-name">{{starship.name | uppercase}}</h1>
      <p class="des-p"><span class="designation">MGLT :  </span><span class="designation-data"> {{starship.MGLT | titlecase}}</span></p>
      <p class="des-p"><span class="designation">Cargo_capacity :  </span><span class="designation-data">{{starship.cargo_capacity| titlecase}}</span></p>
      <p class="des-p"><span class="designation">Consumables :  </span><span class="designation-data">{{starship.consumables | titlecase}}</span></p>
      <p class="des-p"><span class="designation">Cost_in_credits :  </span><span class="designation-data">{{starship.cost_in_credits | titlecase}}</span></p>
      <p class="des-p"><span class="designation">Crew :  </span><span class="designation-data">{{starship.crew | titlecase}}</span></p>
      <p class="des-p"><span class="designation">Hyperdrive_rating :  </span><span class="designation-data">{{starship.hyperdrive_rating | titlecase}}</span></p>
      <p class="des-p"><span class="designation">Length :  </span><span class="designation-data">{{starship.length | titlecase}}</span></p>
      <p class="des-p"><span class="designation">Manufacturer :  </span><span class="designation-data">{{starship.manufacturer | titlecase}}</span></p>
      <p class="des-p"><span class="designation">Max_atmosphering_speed :  </span><span class="designation-data">{{starship.max_atmosphering_speed | titlecase}}</span></p>
      <p class="des-p"><span class="designation">Model :  </span><span class="designation-data">{{starship.model | titlecase}}</span></p>
      <p class="des-p"><span class="designation">Passengers :  </span><span class="designation-data">{{starship.passengers | titlecase}}</span></p>
      <p class="des-p"><span class="designation">Starship_class :  </span><span class="designation-data">{{starship.starship_class | titlecase}}</span></p>


    </div>
  </div>
</div>

<app-footer></app-footer>




