.header-logo {
  position: relative;
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 64px;
}

.header-logo img {
  /* margin: auto; */
  width: 170px;
}

.line-copy {
  border-bottom: 1px solid #2e6e9a;
  width: 60%;
  margin: auto;
  margin-top: 50px;
}

@media only screen and (max-width: 700px) {
  .header-logo img {
    /* margin: auto; */
    width: 120px;
  }

  .line-copy {
    width: 100%;
  }
  .header-logo {
    margin-top: 36px;
  }

  .line-copy {
    margin-top: 31px;
  }
}
